* {
    margin: 0;
    padding: 0;
    font-family: 'RobotoMono';
    font-size: 90%;
    text-decoration: none;
    border: 0 none;
    box-shadow: 0 0 0 0;
    outline: 0;
} 
body {
    background-color: #4e3ec8;
    background-image: url(../img/fechar.png), url(../img/fechar.png), url(../img/fechar.png), url(../img/fechar.png), url(../img/fechar.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: -5% -100%, -10% 3%, 95% -130%, 100% 0%, 40% -30%;
    background-size: 200px, 300px, 230px, 150px, 190px;
}
/* style ---container > elements */
#main-screen {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 45px);
}

#bar {
    width: 100%;
    height: calc(15vh - 20px);
    display: flex;
}
.container-logo {
    width: 70%;
    height: calc(15vh - 20px);
    
}
#logo-bar {
    width: 385px;
    height: auto;
    margin: 0 30px 0;
    line-height: calc(15vh - 20px);
    position: relative;
    color: #efefef;
    font-size: 2.2rem;
}
/* menu */
/* closed */
.content-icon-open-menu {
    width: 30%;
    height: calc(15vh - 20px);
    float: right;
}
.container-icon-open-menu {
    width: 40px;
    height: 40px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50%;
    position: relative;
    margin: 0 30px 0;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    float: right;   
}
.fa-bars {
    font-size: 1.2rem;
    color: #4e3ec8;
}
/* Open */
.container-menu {
    width: 25%;
    min-width: 300px;
    height: 100vh;
    position: static;
    overflow: hidden;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: rgba(64, 50, 164, 95%);
}
.fa-close {
    color: #efefef;
    font-size: 1.5rem;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 16px;
}
.sub-container-menu {
    width: 80%;
    height: fit-content;
    display: flex;
    margin: 16px auto 0;
    position: relative;
    top: 45px;
    padding: 20px 0 0;
}
.menu {
    width: 95%;
    height: fit-content;
    display: block;
    float: right;
    margin: 0 auto 0;
}
.item-menu {
    width: 100%;
    height: auto;
    text-align: right;
    font-size: 1.4rem;
    display: block;
    padding: 7px 0;
}
.item-menu,
.nav-item-menu {
    color: #efefef;
}
.nav-item-menu {
    width: 100%;
    height: auto;
}
.item-menu:hover {
    transition: .4s ease;
    color: #f73434;
}
.item-menu:hover  .nav-item-menu {
    transition: .4s ease;
    color: #f73434;
    text-decoration: none;
}

@keyframes moviItem {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.hidden {
    display: none;
}
.hidden-right {
    position: fixed;
    right: -400px;
    top: 0;
    transition: .6s ease-in;
}
.appear {
    transition: .4s ease;
    display: flex;
}
.appear-auto {
    position: fixed;
    right: 0;
    top: 0;
    transition: .6s ease-in;
}

/* main screen */
#case-home-main {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 10vh - 20px);
}
.container-home-element {
    width: 50%;
    height: auto;
    min-height: calc(100vh - 10vh - 20px);
}
.element-image {
    float: right;
}
.container-image {
    width: 100%;
    height: auto;
}
#image {
    width: 85%;
    height: auto;
}
/* Description */
.element-into {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-description {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 0;
    min-height: 300px;

}
#description-into-value {
    font-size: 3rem;
    color: #efefef;
}
#sub-description-into-value {
    font-size: 1rem;
    color: #f73434;
}
@media (max-width: 500px) {
    #logo-bar {
        width: 295px;
        font-size: 1.4rem;
    }
    .container-icon-open-menu {
        margin: 0 10px;
    }
    .element-image,
    .element-into {
        width: 100%!important;
        height: auto!important;
    }
    .element-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #image {
        display: block;
        margin: auto;
    }
}

/* footer */
footer {
    width: 100%;
    height: calc(15vh - 20px);
    display: flex;
    margin: 25px 0 0;
    justify-content: center;
    align-items: center;
}
#copyright-comment {
    color: #efefef ;
    text-align: center;
}